* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --black: #222222;
    --index: calc(1vw + 1vh)
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.content__inner{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: end;
    margin: 0 auto;
}
.content__l{
    width: 500px;
    padding: 5%;
}
.content__r{
    width: 500px;
}
.content__play{
    display: flex;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}
.content__play p{
    padding-left: 10px;
    font-size: 12px;
}
.content__play a{
    cursor: pointer;
}
.content__title, .content__subtitle{
    padding-top: 20px;
    font-weight: 300;
    font-family: 'Nunito', sans-serif;
    width: 100%;
}
.content__nav{
    display: flex;
    flex-direction: column;
}
.link{
    margin-top: 20px;
    cursor: pointer;
}

@media screen and (max-width: 890px){
    .content__r img{
        width: 380px;
    }
}
@media screen and (max-width: 750px){
    .content__inner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}